:root {
    --color-bg: #ffffff;
    --color-primary: #FD6601;
    --color-secondary: #3d1c39;
    --color-text: #1a1a1a;
    --color-accent: #fdd802;
}

body {
    font-family: "Nunito", sans-serif;
    margin: 0;
    background-color: var(--color-bg);
    color: var(--color-text);
}

header {
    background-color: var(--color-primary);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

header h1 {
    font-size: 1.8rem;
    margin: 0;
    margin-left: 1rem;
}

h2 {
    color: #FD6601;
}

#menu {
    display: block;
    background: none;
    border: none;
    font-size: 1.7rem;
    color: white;
    cursor: pointer;
    margin-right: 0.02rem;
    margin-left: 0.1rem;
}

nav {
    display: none;
    flex-direction: column;
    background-color: var(--color-primary);
    position: absolute;
    top: 60px;
    right: 0;
    width: 150px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

nav a:hover {
    background-color: var(--color-primary);
    color: var(--color-accent);
}

main {
    max-width: 90%;
    margin: 1rem;
    text-align: center;
}

.gallery-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

nav, figure img {
    transition: all 0.3s ease-in-out;
}

figure {
    margin: 0;
    background: white;
    border-radius: 8px;
    padding: 0.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

figure:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 18px rgba(0,0,0,0.15);
}

figure img {
    width: 100%;
    border-radius: 8px;
}

figcaption {
    margin-top: 0.5rem;
    color: var(--color-secondary);
    font-weight: bold;
}

footer {
    background-color: var(--color-primary);
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
}