:root {
    --color-bg: #ffffff;
    --color-primary: #FD6601;
    --color-secondary: #3d1c39;
    --color-text: #1a1a1a;
    --color-accent: #f1b419;
}

body {
    font-family: "Nunito", sans-serif;
    margin: 0;
    background-color: var(--color-bg);
    color: var(--color-text);
}

header {
    background-color: var(--color-primary);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
    z-index: 10000;
}

header h1 {
    font-size: 1.8rem;
    margin: 0;
    margin-left: 1rem;
}

h2 {
    color: #FD6601;
}

#menu {
    display: block;
    background: none;
    border: none;
    font-size: 1.7rem;
    color: white;
    cursor: pointer;
    margin-right: 0.02rem;
    margin-left: 0.1rem;
}

nav {
    display: none;
    flex-direction: column;
    background-color: var(--color-primary);
    position: absolute;
    top: 60px;
    right: 0;
    width: 150px;
    z-index: 9999;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    border-bottom: 1px solid rgba(17, 17, 17, 0.2);
}

nav a:hover {
    background-color: var(--color-primary);
    color: var(--color-accent);
}

main {
    max-width: 90%;
    margin: 1rem;
    text-align: center;
}

.home-grid {
    position: relative; 
    width: 100%;
    max-width: 1200px;
    margin: 0;
}

.home-grid figure {
    width: 100%; 
    max-width: 90%; 
    margin: 0; 
}

.home-grid img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    display: block; 
}

.info-box {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.822); 
    color: rgb(12, 12, 12);
    padding: 1rem;
    border-radius: 8px;
    width: 250px;
    box-sizing: border-box;
}

.info-box-left {
    bottom: 10px;
    left: 10px;
}

.info-box-right {
    top: 10px;
    right: 10px;
}

@media screen and (max-width: 767px) {
    .info-box {
        position: static;
        width: 100%;
        margin-top: 1rem;
        background-color: #FD6601; 
    }

     .home-grid {
        justify-items: center;
    }
}

nav, figure img {
    transition: all 0.3s ease-in-out;
}

footer {
    background-color: var(--color-primary);
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-top: 0.5rem;
    display: inline-block;
}

footer a:hover {
    color: var(--color-accent);
    text-decoration: underline;
}