:root {
    --primary-color: #FD6601;   
    --secondary-color: #FFFFFF; 
    --font-main: 'Nunito', sans-serif;
}

html {
    background-color: var(--secondary-color);
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    line-height: 1.6;
    color: #333;
}

header {
    background-color: var(--secondary-color);
    padding: 2rem;
    text-align: center;
    border-bottom: 4px solid var(--primary-color);
}

header h1 {
    color: var(--primary-color);
    margin-bottom: 1rem;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 2rem;
}

h2 {
    color: var(--primary-color);
    border-left: 6px solid var(--primary-color);
    padding-left: 10px;
}

section {
    margin-bottom: 2.5rem;
}

#typography p strong,
#color-schema p strong {
    color: var(--primary-color);
}


ul {
    padding-left: 20px;
}

.wireframes {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.wireframe img {
    max-width: 100%;
    border: 3px solid var(--primary-color);
    border-radius: 8px;
}

footer {
    background-color: var(--secondary-color);
    border-top: 4px solid var(--primary-color);
    padding: 1.5rem;
    text-align: center;
    color: #555;
}