* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background: #eee;
}

header {
    background: #170250;
    color: white;
    padding: 15px 0;
    text-align: center;
    font-size: 1.3rem;
    max-width: 1000px;
    margin: 0 auto;
}

main {
    max-width: 1000px;
    margin: 20px auto 25px auto;
    background: #d4cedf;
    padding: 25px 30px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 425px;
    margin-left: 0;
}

.form-container {
    max-width: 1000px;
}

label, legend {
    font-weight: bold;
    margin-bottom: 3px;
    color: #000;
}

input[type="text"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #aaa;
    font-size: 1rem;
}

textarea {
    height: 110px;
}

fieldset {
    border: none;
    padding: 0;
    border-radius: 0 0 15px;
}

.features-group legend {
    margin-bottom: 0;
}

.features-group .subtext {
    margin: 0 0 5px 0;
    font-size: 0.9rem;
    color: #444;
    font-style: italic;
}

.features-group label {
    display: flex;
    align-items: center;
    gap: 8px;
}

.rating-group {
    display: flex;
    justify-content: space-between;
}

.rating-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.star {
    font-size: 22px;
    cursor: pointer;
}

.rating-group input[type="radio"] {
    cursor: pointer;
}

.feature-item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 4px 0;
}

label span.optional {
    color: #01132e;
    font-size: 0.9rem;
    font-weight: normal;
}

input[type="submit"] {
    padding: 14px;
    background: #170250;
    color: white;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
    max-width: 425px;
    margin: 0;
    display: block;
}

input[type="submit"]:hover {
    background: #170250;
}

@media (min-width: 600px) {
    form {
        max-width: 425px; 
    }
}


footer {
    text-align: center;
    padding: 10px 0;
    background: #170250;
    color: white;
    font-size: 0.9rem;
    max-width: 1000px;
    margin: 0 auto;
}